
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
    background-color: #f0f6f6; /* Color de fondo pastel */
    animation: changeColor 20s infinite; 
  }

  @keyframes changeColor {
    0% {
      background-color: #f0f6f6; /* Gris pastel */
    }
    25% {
      background-color: #d4d4dc; /* Gris claro pastel */
    }
    50% {
      background-color: #b2bec3; /* Gris azulado pastel */
    }
    75% {
      background-color: #636e72; /* Gris oscuro pastel */
    }
    100% {
      background-color: #f0f6f6; /* Vuelve al gris pastel */
    }
  }

  h1 {
    text-align: center;
    color: #2c3e50; /* Color de texto */
  }

  .contenedorProductos{
    padding: 20px;
    margin: 20px;
  }

  .contenedorCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    border: 1px solid #4b4b4b; /* Borde gris oscuro pastel */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    min-width: 200px;
    max-width: 300px;
    background-color: #ffffff; /* Fondo blanco */
    transition: box-shadow 0.3s ease;
  }

  .boton{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
    padding-left: 1rem;
    padding: 10px 15px;
    background-color: #2c3e50; /* Botón gris oscuro pastel */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

